{% extends 'base.html.twig' %}

{% block title %}
    Liste des films | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Liste des films</h1>

    {% for movie in movies %}
        <article>
            <h2>{{ movie.title }}</h2>
            <ul>
                <li>{{ movie.releasedAt|date('d/m/Y') }}</li>
                <li>{{ movie.category.label }}</li>
                <li>{{ movie.director }}</li>
            </ul>
            <a href="{{ path('movie_single', {id: movie.id}) }}">Voir la fiche du film</a>
        </article>
    {% endfor %}
{% endblock %}
