{% extends 'base.html.twig' %}

{% block title %}
    {{ movie.title }} | {{ parent() }}
{% endblock %}

{% block body %}
    <h1>{{ movie.title }}</h1>
    <p>
        {{ movie.summary }}
    </p>
    <ul>
        <li>Réalisateur : {{ movie.director }}</li>
        <li>Genre : {{ movie.category.label }}</li>
        <li>Date de sortie : {{ movie.releasedAt|format_date('long', locale: 'fr') }}</li>
        <li>Sortie depuis {{ movie.relativeRelease }} ans</li>
        <li>
            {% if movie.allPublic %}
                Tout public
            {% else %}
                Public averti
            {% endif %}
        </li>
    </ul>
    <img src="{{ movie.poster }}" alt="Affiche de {{ movie.title }}">
{% endblock %}
